 p{
	background:  #add8e6;
	opacity: 0.9;
}
main h1{
	background: 	#6A5ACD;

}
img{
	width: 30%;
	opacity: 0.9;
 box-shadow: 5px 5px 5px Indigo;
}

.pagina1{
	width: 60%;
	box-shadow: 20px 20px 5px Crimson;
}

